NEXT_PUBLIC_SUPABASE_URL=https://leofwhxawvwjprnxbmzb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_TSXpRGyZjisSojiqB6uRow_d1uVLDZY
SUPABASE_SERVICE_ROLE_KEY=sb_secret_UdWpy9mc6j2JMk85q3QqgQ_kfwSX6cC